<nav class="sidebar">
  <div class="sidebar-nav ps">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Data Import</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Server Config</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">DataSetConfig</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Test Versioning</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Test Versioning LIB</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Test Versioning API</a></li>
      <li class="nav-item"><a class="nav-link nav-dropdown-toggle" href="#">Client Config v2</a></li>
    </ul>
  </div>
</nav>