<nav class="navbar sticky-top navbar-expand-xl navbar-light">
  <a class="navbar-brand" href="/">Data Integration</a>
  <button class="navbar-toggler nav-mobile-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent,#nav-icon" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div id="nav-icon" class="collapse"> <span></span> <span></span> <span></span></div>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
<!--    <ul class="navbar-nav navbar-menu">
      <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
      <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
      <li class="nav-item"><a class="nav-link" href="/newsletter-examples">Gallery</a></li>
      <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About us</a></li>
      <li class="nav-item"><a class="nav-link" href="/support">Support</a></li>      
    </ul>-->
    <ul class="navbar-nav navbar-btns ml-auto">
      <li class="nav-item">
          <div class="dropdown"> 
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Log In </a> 
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                <a class="dropdown-item" href="#">Profile</a> 
                <a class="dropdown-item" href="#">Settings</a> 
                <a class="dropdown-item" href="#">Logout</a> 
              </div>
          </div>
      </li>      
    </ul>
  </div>

</nav>